<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Orders</title>
</head>

<body style="font-size: large; background-color: rgb(210, 222, 238); color: rgb(1, 15, 12);">
    <h1>Personal Detail:</h1>
    <p>FirstName: {{personalDetail.firstName}}</p>
    <p>lastName: {{personalDetail.lastName}}</p>
    <p>email: {{personalDetail.email}}</p>
    <br>
    <br>
    <h1>Detail Order:</h1>
    <p>Total Pay: {{totalPay}}$ USD</p>
    <p>Event: {{event}}</p>
    <p>Payment: {{payment}}</p>
</body>

</html>